<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      PrevCom
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
   
    <ion-item>
      <ion-label position="floating">Idade</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Nível de risco</ion-label>
      <ion-select placeholder="Selecione">
        <ion-select-option value="1">Baixo</ion-select-option>
        <ion-select-option value="2">Alto</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Renda complementar desejada</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-list>
      <ion-radio-group>
        <ion-list-header>
          <ion-label>Sexo</ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>Feminino</ion-label>
          <ion-radio slot="end" value="f"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Masculino</ion-label>
          <ion-radio slot="end" value="m"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <div class="ion-padding-top">
      <ion-button expand="block">
        Calcular
      </ion-button>
    </div>
  </div>
</ion-content>
