<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      PrevCom
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form (ngSubmit)="calcular()" [formGroup]="form">
      <ion-item class="ion-margin-bottom" [ngClass]="{'ion-pristine ion-invalid ion-touched' : showErrors && form.controls.idade.invalid}">
        <ion-label position="floating">Idade</ion-label>
        <ion-input formControlName="idade" type="number"></ion-input>
      </ion-item>
      <span class="error-msg" *ngIf="showErrors && form.controls.idade.invalid && form.controls.idade.errors.required">
        Campo obrigatório
      </span>
      <span class="error-msg" *ngIf="showErrors && form.controls.idade.invalid && form.controls.idade.errors.max">
        Idade máxima permitida: {{form.controls.idade.errors.max.max}}
      </span>
      <span class="error-msg" *ngIf="showErrors && form.controls.idade.invalid && form.controls.idade.errors.min">
        Idade mínima permitida: {{form.controls.idade.errors.min.min}}
      </span>
      <ion-item [ngClass]="{'ion-pristine ion-invalid ion-touched' : showErrors && form.controls.risco.invalid}">
        <ion-label>Nível de risco</ion-label>
        <ion-select placeholder="Selecione" formControlName="risco">
          <ion-select-option value="1">Renda Fixa</ion-select-option>
          <ion-select-option value="2">Renda Variável</ion-select-option>
        </ion-select>
      </ion-item>
      <span class="error-msg" *ngIf="showErrors && form.controls.risco.invalid">Campo obrigatório</span>
      <ion-item [ngClass]="{'ion-pristine ion-invalid ion-touched' : showErrors && form.controls.aposentadoriaDesejada.invalid}">
        <ion-label position="floating">Renda complementar desejada (R$)</ion-label>
        <ion-input formControlName="aposentadoriaDesejada" [brmasker]="{money: true, thousand: '.',  decimalCaracter: ',', decimal: '2'}" type="text"></ion-input>
      </ion-item>
      <span class="error-msg" *ngIf="showErrors && form.controls.aposentadoriaDesejada.invalid">Campo obrigatório</span>
      <ion-list>
        <ion-radio-group formControlName="sexo">
          <ion-list-header>
            <ion-label [ngClass]="{'list-header-danger' : showErrors && form.controls.sexo.invalid}">Sexo</ion-label>
          </ion-list-header>
      
          <ion-item>
            <ion-label>Feminino</ion-label>
            <ion-radio slot="end" value="f"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Masculino</ion-label>
            <ion-radio slot="end" value="m"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <span class="error-msg" *ngIf="showErrors && form.controls.sexo.invalid">Campo obrigatório</span>

      <div class="ion-padding-top">
        <ion-button expand="block" type="submit">
          Calcular
        </ion-button>
        <ion-button expand="block" type="button" fill="outline" (click)="limpar()">
          Limpar
        </ion-button>
      </div>
   </form>    
  </div>
</ion-content>
